*{
	width: 100%;
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	background: #548c7e;
}
#header{

}

#nav{

}

#main{
 width: 800px;
 float: left;
 margin: 30px;
}

#sidebar{
width: 500px;
float: left;
margin: 30px;
}


#footer{

}
